<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='static.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Gentium+Basic" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
	<title>main page</title>
</head>
<body>
	<a href="/lake" class="main-title">
    Lake View Medical Center
  	</a>
Woohoooo. You are successfully logged in!
</body>
</html>